body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #005c9a;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border: 2px solid #005c9a;
}

th {
    background-color: #005c9a;
    color: #ffffff;
}
